{% extends 'base.html' %}
{% load static %}

{% block title %}
  Login Page
{% endblock title %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/login.css' %}" />
{% endblock %}

{% block content %}



<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card">
        <div class="card-header text-white text-center bg-primary">
          <h4><i class="bi bi-box-arrow-in-right"></i> Company Login</h4>
        </div>
        <div class="card-body p-4">
          <form method="post">
            {% csrf_token %}

            <!-- Company Name -->
            <div class="mb-3">
              <label class="form-label">Company Name</label>
              <div class="input-group">
                <span class="input-group-text"><i class="bi bi-building"></i></span>
                <input type="text" name="company_name" class="form-control" placeholder="Enter your company name" required />
              </div>
            </div>

            <!-- Company Email -->
            <div class="mb-3">
              <label class="form-label">Company Email</label>
              <div class="input-group">
                <span class="input-group-text"><i class="bi bi-envelope"></i></span>
                <input type="email" name="email" class="form-control" placeholder="Enter your company email" required />
              </div>
            </div>

            

            <!-- Submit -->
            <div class="d-grid mt-4">
              <button type="submit" class="btn btn-custom">
                <i class="bi bi-box-arrow-in-right"></i> Login
              </button>
            </div>

            <!-- Register Link -->
            <div class="col-12 mt-2 text-center">
              <a href="{% url 'register' %}" class="btn btn-outline-secondary w-50">
                <i class="bi bi-person-plus"></i> Don't have an account? Register
              </a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}
